<!DOCTYPE html>
<html>
<head>
    <title>DALL-E</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="../static/js/script.js"></script>
</head>

<body>
    <div id="dalle-submission">
        <form method="POST" id="dalle-form">
            <h1 style="margin-bottom: 5px;">DALL-E</h1>
            <input type="text" name="prompt" id="prompt" placeholder="Prompt" required>
            <input type="submit" value="Generate Image" class="generate-button">
        </form>
        </div>

    <div id="loader" class="loader">
        <div class="loader-content">
            <div class="loader-spinner"></div> 
            <p>Generating image...</p>
        </div>
    </div>
    
    <h2 id="image-prompt"></h2>

    <div id="generated-image" style="display: none;">
        <div id="image-container">
            <img id="image" src="" alt="Generated Image" loading="lazy">
        </div>
    </div>

    <div class="error" id="error-message" style="text-align: center;"></div>
</body>
</html>
